.Card {
    display: flex;
    width: 388px;
    height: 128px;
    margin: 12px 8px;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 5px;
    box-shadow: 2px 2px rgba(101,110,116,0.1);
    background-color: #FAFAFA;
    color: #212121;
    transition: 1s;
}

.Card__avatar {
    /* width: 90px; */
}


.Card__info {
    padding: 0 auto;
    text-align: center;
    font-size: 14px
}

.Card__info h1 {
    margin: 10px auto;
    margin-left: 16px;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.Card__info P {
    color: #AAAAAA;
    font-size: 12px;
}

.Card__info__options {
    margin: 16px 0;
    padding: 8px 3px;
    border-top: 1px #eeeeee solid;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 254px
}

.Card__info__options a {
    text-decoration: none;
    color: #09c5d6;
}

.containerCards{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.Card:hover{
  cursor: pointer;
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
  boxShadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
}
