header {
    
    padding: 2px;
    padding-left: 20px;
    border-radius:0 0 5px 5px;
    text-align: initial;
    font-family: 'Work Sans', sans-serif;
    background-color: #09c5d6;
    color: #eeeeee;
}