footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    border-radius:5px 5px 0 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #09c5d6;
    
}

footer p {
    color: #fffefeab;
}