.App {
  position: relative;
  padding-bottom: 65px;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 37px;
  display: inline
}

.App-header {
  background-color: #6664d5;
  height: 41px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  display: inline
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
